@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<MudBlazor.MudButton OnClick="FazAlgo">Faz Algo</MudBlazor.MudButton>

@code {
    private void FazAlgo()
    {
        Console.WriteLine("TOCOU!");
    }
}